* {
    margin: 0;
    padding: 0;
}

body {
    background: #1A0926;
    overflow-x: hidden;
    color: #CF97C2;
    font-family: trade-gothic-next, sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-family: obviously-wide;
    font-weight: 800;
    color: white
}

h2 {
    font-family: obviously;
    font-weight: 700;
    color: white;
}

a {
    color: white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.spacer {
    flex-grow: 1;
}

.spacer--8 {
    width: 8px;
    height: 8px;
}

.flex {
    display: flex
}

.background-glow {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        background: url(/assets/images/heading-glow.png);
        height: 463px;
        width: 1096px;
        pointer-events: none;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
}

.latest-post {
    margin-top: 80px;
}

@import "partials/components";
@import "partials/header";
@import "partials/tile";

