---
layout: layouts/home.njk
---

<div class="container  latest-post">
    {%- for article in collections.article.slice(0, 1) -%}
        {% component 
            "components/tile.vue", 
            showDate=true,
            isLatest=true,
            post=article.data
        %}
    {%- endfor -%}
</div>