.tile {
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;

    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 2px 1px rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(200px);
    backdrop-filter: blur(200px);
}

.tile__excerpt {
    font-size: 20px;
    line-height: 32px;
    margin-top: 24px;
}

.tile--article {
    padding: 48px;
    display: flex;
    
    .tile__heading {
        font-size: 36px;
        margin-top: 16px;
    }

    .button {
        margin-top: 40px;
    }
}

.tile__info {
    flex: 1;
}

.tile__preview {
    width: 380px;
    margin-left: 40px;
    border-radius: 24px 24px 0 0;
    -webkit-border-radius: 24px 24px 0 0;
    -moz-border-radius: 24px 24px 0 0;
    -ms-border-radius: 24px 24px 0 0;
    -o-border-radius: 24px 24px 0 0;
    overflow: hidden;
    margin-bottom: -48px;
    position: relative;
}

.tile__preview__container {
    padding-top: calc(771px / 381px * 100%);
    width: 100%;
    position: absolute;

    video {
        object-fit: cover;
        object-position: top center;
        width: 88.97637795%;
        height: 95.07133593%;
        position: absolute;
        top: 2.464%;
        left: 05.51181102%;
    }

    &:after {
        content: '';
        position: absolute;
        padding-top: calc(771px / 381px * 100%);
        width: 100%;
        left: 0;
        top: 0;
        background: url(/assets/images/iphone-frame.png) no-repeat;
        background-size: contain;
        background-position: top center;
        z-index: 2;
    }
}

@media only screen and (max-width: 600px) {
    .tile {
        border-radius: 24px 24px 40px 40px;
        -webkit-border-radius: 24px 24px 40px 40px;
        -moz-border-radius: 24px 24px 40px 40px;
        -ms-border-radius: 24px 24px 40px 40px;
        -o-border-radius: 24px 24px 40px 40px;
    }
    
    .tile--article { 
        padding: 24px; 

        .tile__heading {
            font-size: 24px;
            line-height: 36px;
            margin-top: 16px;
        }        
    }

    .tile__excerpt {
        font-size: 16px;
        line-height: 24px;
        margin-top: 24px;
    }

    .tile .button {
        margin-top: 24px;
        width: 100%;
    }
}
